# ===== PlatformIO build folders =====
.pio/
.pioenvs/
.piolibdeps/
.clangd/
.cache/

# ===== VSCode settings =====
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/settings.json

# ===== Build artifacts =====
*.elf
*.bin
*.hex
*.map
*.a
*.o
*.d

# ===== Logs =====
*.log

# ===== OS-specific files =====
.DS_Store
Thumbs.db
desktop.ini

# ===== Backup / Temp files =====
*.bak
*.tmp
*.swp
*.swo

# ===== Project specific =====
libdeps/
test_output/

# ===== Python / AI-related =====
venv/
__pycache__/
*.pyc
*.pyo
*.npz
*.pth
*.onnx
*.tflite
*.wav
*.csv
*.json

# ===== External libraries (exclude third-party libs) =====
lib/flatbuffers/
lib/gemmlowp/
lib/kissfft/
lib/tflite-micro-minimal/
